.nav-item {
    text-align: center;
}
.dropdown-menu {
    background-color: #7A4748;
    text-align: center;
}
.dropdown-menu a {
    color: white;
}
.dropdown-menu a:focus {
    background-color: #FFC0CB;;
}
main {
    width: 100%;
    height: 680px;
    background-color: #fb9293;
    display: flex;
    justify-content: center;
    align-items: center;
}
main h1 {
    font-family: "Pacifico", cursive;
    text-shadow: 4px 4px 4px black;
    font-size: 125px;
    color: white;
    text-align: center;
    line-height: 1.5;
    padding: 150px;
}
.carousel-inner {
    margin-top: 20px;
}
.card {
    margin-top: 20px;
}
.card-columns .card-body {
    height: 180px;
}
.ubicacion {
    margin-top: 20px;
}
iframe {
    width: 100%;
    height: 400px;
}

h5 {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Devices (landscape phones, 576px and up) */

@media (max-width: 991px) {
    .form-inline {
        display: none;
    }
    .card-body {
        height: 160px;
    }
    .card-body h5 {
        margin-top: 10px;
    }
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 620px) {
    .form-inline {
        display: flex;
        justify-content: center;
        width: 140px;
        display: none; /* habilitar búsqueda */
    }
    main {
        height: 350px;
    }
    main h1 {
        font-size: 50px;
        padding: 50px;
        line-height: 1.5;
    }
    .card-columns .card-body {
        height: 120px;
    }
    .card-columns {
        column-count: 1;
    }
}

@media (max-width: 576px) {
    .card-columns .card-body {
        height: 180px;
    }
    .card-columns {
        column-count: 1;
    }
}